**/__debug_bin
**/.vimspector.json
**/.vscode
**/.vim
data/
logs/
dist/
gosk
gosk*.log
.goreleaser.yml
**/*.coverprofile
**/lcov.info
dist/*
config/**/*.yaml
config/**/*.dbc
!config/**/sample-*.yaml
.direnv/
.devenv/**

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
