[Unit]
Description=Gosk service to collect Modbus data over TCP network
After=network.target
ConditionPathExists=/home/munnik/Code/gosk/gosk


[Service]
ExecStart=/home/munnik/Code/gosk/gosk collect -n "Engine room" -c "tcp://192.168.1.151:502" -d -p "modbus" -u "tcp://127.0.0.1:5002"
User=munnik
Group=munnik

Restart=on-failure
RestartSec=10

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/gosk
ExecStartPre=/bin/chown root:adm /var/log/gosk
ExecStartPre=/bin/chmod 755 /var/log/gosk
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gosk

[Install]
WantedBy=multi-user.target
